.hamburger {
  .content {
    width: 70%;
    height: 70%;

    div {
      height: 3px !important;
      border-radius: 2px;
      width: 80% !important;
    }
  }
}

.link {
  :hover {
    width: 0;
    position: relative;

    ::after {
      content: "";
      background: #000;
      position: absolute;
      height: 2px;
      width: 100%;
      left: 0;
      bottom: 0;
    }
  }
}
